@import url('https://fonts.googleapis.com/css?family=Lora');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body {
	font-family: 'Lora', 'Nanum Myeongjo', serif;
	margin: 20px;
}
nav {
	padding-right: 20px;
	float: left;
}
nav header {
	text-align: center;
}
nav header h1 a:link, nav header h1 a:link:active, nav header h1 a:link:hover, nav header h1 a:visited, nav header h1 a:visited:active, nav header h1 a:visited:hover {
	color: black;
	text-decoration: none;
}
h1 {
	font-size: 50px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: oblique;
}
article header {
	padding: 1px;
	border-bottom: 1px solid black;
}
article header:after {
	content: "";
	clear: both;
	display: block;
}
article header h2 {
	float: left;
	margin: 0px;
}
article header h3 {
	margin: 0;
	float: right;
	color: grey;
	font-weight: normal;
	font-size: 11px;
	vertical-align: bottom;
}
article section {
	clear: both;
}
article {
	float: right;
}
footer {
	clear: both;
	text-align: right;
}
a {
	text-decoration: underline;
}
a:link, a:visited {
	color: black;
}
a:link:hover, a:visited:hover {
	color: red;
}
a:link:active, a:visited:active {
	color: blue;
}