<article class="box">
	<header>
		<h1 class="title"><a href="{{ post.url | relative_url }}">{{ include.title }}</a></h1>
		<h2 class="date">{{ include.date }}</h2>
		<h2 class="category"><a href="/{{ include.categories | join: "/" }}">{{ include.categories | join: " > " }}</a></h2>
		{% assign tagSize = include.tags.size %}
			{% if tagSize > 0 %}
			{% for tag in include.tags %}
				<h2 class="tag"><a href="/tags#{{ tag }}">{{ tag }}</a></h2>
			{% endfor %}
		{% endif %}
	</header>
	<section>
		{% if include.excerpt %}
			{{ include.excerpt }}
			<p><a href="{{ post.url | relative_url }}">...</a></p>
		{% else %}
			{{ include.content }}
		{% endif %}
	</section>
</article>