@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

body {
	background-image: url(/assets/lab.png);
	background-repeat: repeat;
	background-size: 100px 100px;
	margin: 0;
	font-family: 'Hanna', serif;
}
header#main_header {
	background-color: white;
	text-align: center;
	font-size: 50px;
	padding: 15px;
	word-break: break-all;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
header#main_header div#pages {
	font-size: 20px;
}
header#main_header div#info {
	font-size: 14px;
	padding: 15px;
}
header#main_header div#info img {
	margin: 0 10px;
}
header#main_header div#info div#description {
	padding: 15px;
}
a, a:link, a:visited {
	color: black;
	text-decoration: none;
}
img#lab_bottle_big {
	height:200px;
	position: absolute;
	top: 0px;
	left: -100px;
	transform: rotate(30deg);
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
	z-index: 1;
}
div#wrapper {
	width: 750px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
footer {
	background-color: white;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 15px;
	padding: 15px;
	z-index: 2;
	position: relative;
}
.box {
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 15px auto;
	position: relative;
	z-index: 2;
}
article .title {
	font-size: 25px;
	font-weight: normal;
	margin: 5px;
}
article .date {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: left;
}
article .category {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: right;
}
article .tag {
	margin: 5px;
	clear: both;
	float: left;
}
article .tag, article .tag a:visited, article .tag a:link {
	color: #888888;
	font-size: 12px;
	display: inline;
}
article header::after {
	content: "";
	clear: both;
	display: block;
}
article section {
	margin: 5px;
	padding-top: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	word-break: break-all;
}
article section center {
	margin: 16px 0;
}
article section img {
	border-radius: 2px;
}
article section a, article section a:link, article section a:visited {
	color: #4545ff;
}
h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 15px 0;
}
h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 15px 0;
}
h3 {
	font-size: 15px;
	font-weight: normal;
	margin: 15px 0;
}
code {
	font-family: Consolas, monaco, monospace;
	font-weight: 700;
	white-space: pre-wrap;
}
code.highlighter-rouge, .highlight {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}
.highlight {
	margin: 16px 0;
	padding: 10px;
}
.highlight * {
	margin: 0;
}
code.language-ruby span.k {
	color: #ff4545;
}
code.language-ruby span.nf {
	color: #900;
	font-weight: bold;
}
code.language-ruby span.nb {
	color: #0086B3;
}
code.language-ruby span.s1 {
	color: #d14;
}
code.language-ruby span.c1 {
	color: #998;
	font-style: italic;
}
@media (max-width:767px) {/* mobile */
	div#wrapper {
		width: auto;
		margin: 0px;
	}
	img#lab_bottle_big {
		left: -50px;
	}
	.box {
		border-radius: 0px;
		margin: 5px 0;
	}
	article iframe, article img {
		width: 100%;
	}
}
@media print {/* rules for printers */
	
}