@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

body {
	background-image: url(/assets/lab.png);
	background-repeat: repeat;
	background-size: 100px 100px;
	margin: 0;
	font-family: 'Hanna', serif;
}
header {
	background-color: white;
	text-align: center;
	font-size: 50px;
	padding: 15px;
	word-break: break-all;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
a, a:link, a:visited {
	color: black;
	text-decoration: none;
}
header div#description, header div#email {
	font-size: 14px;
}
img#lab_bottle_big {
	height:200px;
	position: absolute;
	left: 15px;
	transform: rotate(30deg);
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
	z-index: 1;
}
div#wrapper, footer {
	width: 750px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}
footer {
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin: 15px auto;
}
.box {
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
article {
	padding: 10px;
	margin: 15px 0;
}
article .title {
	font-size: 25px;
	font-weight: normal;
	margin: 5px;
}
article .date {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: left;
}
article .category {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: right;
}
article section {
	margin: 5px;
	padding-top: 10px;
	clear: both;
	font-family: 'Noto Sans KR', sans-serif;
	word-break: break-all;
	/*font-family: 'Nanum Gothic', sans-serif;*/
}
article section h1 {
	font-size: 30px;
	margin: 15px 0;
}
article section h2 {
	font-size: 25px;
	margin: 15px 0;
}
article .tags {
	color: #888888;
	font-size: 12px;
	margin: 5px;
}
input#nav_button_toggle {
	display: none;
}
input#nav_button_toggle:checked ~ nav {
	display: block;
}
div#nav_button {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 15px;
	top: 15px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	cursor: pointer;
	z-index: 3;
}
nav {
	display:none;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 5px;
	position: fixed;
	right: 15px;
	top: 65px;
	padding: 15px;
	z-index: 3;
}
nav h3 {
	margin: 7px 0;
	font-size: 20px;
	font-weight: normal;
}
nav ul {
	padding: 0 20px;
	margin: 7px 0;
	font-size: 17px;
	font-weight: normal;
}
nav a, nav a:link, nav a:visited {
	color: white;
}
@media (max-width:767px) {/* mobile */
	img#lab_bottle_big {
		display: none;
	}
	div#wrapper, footer {
		width: auto;
		margin: 0px;
		box-sizing: border-box;
	}
	.box {
		border-radius: 0px;
		margin: 5px 0;
	}
	article {
		margin: 0;
	}
	article iframe, article img {
		width: 100%;
	}
}
@media print {/* rules for printers */
	
}