@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

body {
	background-image: url(/assets/lab.png);
	background-repeat: repeat;
	background-size: 100px 100px;
	margin: 0;
	font-family: 'Hanna', serif;
}
header {
	background-color: white;
	text-align: center;
	font-size: 50px;
	padding: 15px;
	word-break: break-all;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
header div#pages {
	font-size: 20px;
}
header div#info {
	font-size: 14px;
	padding: 15px;
}
header div#info img {
	margin: 0 10px;
}
header div#info div#description {
	padding: 15px;
}
a, a:link, a:visited {
	color: black;
	text-decoration: none;
}
img#lab_bottle_big {
	height:200px;
	position: absolute;
	top: 0px;
	left: -100px;
	transform: rotate(30deg);
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
	z-index: 1;
}
div#wrapper {
	width: 750px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
footer {
	background-color: white;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 15px;
	padding: 15px;
	z-index: 2;
	position: relative;
}
.box {
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 15px auto;
	position: relative;
	z-index: 2;
}
article .title {
	font-size: 25px;
	font-weight: normal;
	margin: 5px;
}
article .date {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: left;
}
article .category {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
	float: right;
}
article .tags, article .tags a:visited, article .tags a:link {
	color: #888888;
	font-size: 12px;
	margin: 5px;
}
article section {
	margin: 5px;
	padding-top: 10px;
	clear: both;
	font-family: 'Noto Sans KR', sans-serif;
	word-break: break-all;
	/*font-family: 'Nanum Gothic', sans-serif;*/
}
h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 15px 0;
}
h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 15px 0;
}
h3 {
	font-size: 15px;
	font-weight: normal;
	margin: 15px 0;
}
@media (max-width:767px) {/* mobile */
	div#wrapper {
		width: auto;
		margin: 0px;
		box-sizing: border-box;
	}
	.box {
		border-radius: 0px;
		margin: 5px 0;
	}
	article {
		margin: 0;
	}
	article iframe, article img {
		width: 100%;
	}
}
@media print {/* rules for printers */
	
}