@import url('https://fonts.googleapis.com/css?family=Lora');
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body {
	font-family: 'Lora', 'Nanum Myeongjo', serif;
	margin: 20px;
}
nav div#logo table {
	border-collapse: collapse;
	margin: 50px auto;
}
nav div#logo tr:first-child td, nav div#logo tr:last-child td {
	padding: 2px 0;
}
nav div#logo td {
	border: 1px solid #ff4545;
	font-size: 50px;
	padding-left: 3px;
	padding-right: 3px;
}
nav div#logo td:first-child {
	border-left: none;
	padding-left: 10px;
}
nav div#logo td:last-child {
	border-right: none;
	padding-right: 10px;
}
nav div#logo a {
	color: black;
	text-decoration: none;
}
nav header {
	text-align: center;
}
ul > li {
	margin-bottom: 10px;
}
ul > li:last-child {
	margin-bottom: 0px;
}
nav {
	padding-right: 20px;
	float: left;
	width: 300px;
}
#wrapper {
	overflow: hidden;
}
@media (max-width:767px) {
	nav {
		padding: 0;
		float: none;
		width: auto;
	}
}
article header {
	padding: 1px;
	border-bottom: 1px solid #ff4545;
}
article header:after {
	content: "";
	clear: both;
	display: block;
}
article header h2 {
	clear: both;
	float: left;
	margin: 0px;
}
article header h2 a:link, article header h2 a:link:active, article header h2 a:link:hover, article header h2 a:visited, article header h2 a:visited:active, article header h2 a:visited:hover {
	text-decoration: none;
	color: black;
}
article header h3 {
	margin: 0;
	float: right;
	color: grey;
	font-weight: normal;
	font-size: 11px;
}
footer {
	clear: both;
	text-align: center;
	margin-top: 20px;
}
a {
	text-decoration: underline #ff4545;
}
a:link, a:visited {
	color: black;
}
a:link:hover, a:visited:hover {
	color: red;
}
a:link:active, a:visited:active {
	color: blue;
}