@import url('https://fonts.googleapis.com/css?family=Lora');
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body {
	font-family: 'Lora', 'Nanum Myeongjo', serif;
	margin: 20px;
	padding-bottom: 50px;/* for bottom_bar */
}
div#bottom_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: white;
	border-top: 1px solid #ff4545;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
}
input#side_nav_toggle {
	display: none;
}
div#side_nav_toggle {
	border-left: 1px solid #ff4545;
	border-right: 1px solid #ff4545;
	float:right;
	height: 20px;
	padding: 5px;
	display: table;
	cursor: pointer;
}
div#side_nav_toggle span {
	padding: 0 10px;
	display: table-cell;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
}
div#side_nav {
	position: fixed;
	height: 100%;
	box-sizing: border-box;
	top: 0;
	left: -325px;
	width: 320px;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.15);
	border-right: 1px solid #ff4545;
	background: white;
	transition: left 0.5s ease;
	padding: 20px;
}
input#side_nav_toggle:checked ~ div#side_nav {
	left: 0;
}
header#main {
	padding-right: 20px;
	float: left;
	width: 300px;
	text-align: center;
}
header#main div#logo table {
	border-collapse: collapse;
	margin: 50px auto;
}
header#main div#logo tr:first-child td, header#main div#logo tr:last-child td {
	padding: 2px 0;
}
header#main div#logo td {
	border: 1px solid #ff4545;
	font-size: 50px;
	padding-left: 3px;
	padding-right: 3px;
}
header#main div#logo td:first-child {
	border-left: none;
	padding-left: 10px;
}
header#main div#logo td:last-child {
	border-right: none;
	padding-right: 10px;
}
header#main div#logo a {
	color: black;
	text-decoration: none;
}
header#main ul > li {
	margin-bottom: 10px;
}
header#main ul > li:last-child {
	margin-bottom: 0px;
}
header#main div#description a {
	text-decoration: underline #ff4545;
}
header#main input#toggle {
	display: none;
}
header#main label {
	cursor: pointer;
}
header#main div#categories {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s linear;
}
header#main input#toggle:checked ~ div#categories {
	max-height: 200px;
}
div#wrapper {
	overflow: hidden;
}
div#wrapper article header {
	padding: 1px;
	border-bottom: 1px solid #ff4545;
}
div#wrapper article header:after {
	content: "";
	clear: both;
	display: block;
}
div#wrapper article header h2#title {
	clear: both;
	margin: 0px;
}
div#wrapper article header h3 {
	margin: 2px 0;
	color: grey;
	font-weight: normal;
	font-size: 11px;
}
div#wrapper article header h3#categories {
	float: left;
}
div#wrapper article header h3#categories a {
	color: grey;
}
div#wrapper article header h3#date {
	float: right;
}
div#wrapper article section {
	margin: 1em 0;
}
div#wrapper article section a {
	color: #ff4545
}
div#wrapper article section h1 {
	font-size: 25px;
}
div#wrapper article section h2 {
	font-size: 20px;
}
footer {
	clear: both;
	text-align: center;
	margin-top: 20px;
}
a, a:link, a:visited, a:link:hover, a:visited:hover, a:link:active, a:visited:active {
	color: black;
	text-decoration: none;
}
@media (max-width:767px) {/* mobile */
	div#side_nav {
		
	}
	header#main {
		padding: 0;
		float: none;
		width: auto;
	}
}
@media print {/* rules for printers */
	
}