<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<!-- Chrome, Firefox OS, Opera -->
	<meta name="theme-color" content="#ff4545">
	
	<meta name="google-site-verification" content="hwxGDaLxpQghc5FGfoCrYY_OA9Vxzk2dl2-oZVbHf4g" />
	
	<!-- Page Information -->
	{% capture title %}{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
	{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
	<title>{{ title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 150 }}{% else %}{{ site.description }}{% endif %}">
	
	<!-- Open Graph -->
	<!-- <meta property="og:site_name" content="rlj1202.github.io"> -->
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}"><!-- article buisness place product profile restaurant website -->
	<meta property="og:url" content="{{ url }}">
	<!-- <meta property="og:image" content=""> -->
	
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<!-- <meta name="twitter:image" content=""> -->
	
	<!-- Etc -->
	<link rel="publisher" href="{{ site.author }}">
	<link rel="author" href="{{ site.author }}"><!-- deprecated tag. no longer used by google search. use google plus publisher tag instead. -->
</head>
<body>
	<header id="main_header">
		<a href="/">rlj1202.github.io</a>
		<div id="info">
			<a href="https://github.com/rlj1202"><img src="/assets/github.svg" width="32px" height="32px" /></a>
			<a href="https://twitter.com/JisooSim"><img src="/assets/twitter.svg"/ width="32px" height="32px" /></a>
			<div id="description">{{ site.description }}</div>
			<div id="email">{{ site.email }}</div>
		</div>
		<div id="pages">
			<a href="/about">About</a>
			<a href="/tags">Tags</a>
			<a href="/categories">Categories</a>
			<a href="/archive">Archive</a>
		</div>
	</header>
	<div id="wrapper">
		<img id="lab_bottle_big" src="/assets/lab_bottle_big.png" />
		{{ content }}
	</div>
	<footer>
		Github.io - Copyright(C) 2017. Jisu Sim(RedLaboratory).
	</footer>
<body>
</html>
