<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<link rel="author" href="{{ site.author }}">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<div id="bottom_bar">
		<input id="side_nav_toggle" type="checkbox" >
		<label for="side_nav_toggle">
			<div id="side_nav_toggle">
				<span>분류</span>
			</div>
		</label>
		<div id="side_nav">
			<nav>
			{% for category0 in site.categories %}
				{% assign b = false %}
				{% for post in site.posts %}
					{% if post.categories[0] == category0.first %}
						{% assign b = true %}
					{% endif %}
				{% endfor %}
				{% if b == true %}
					<h3><a href="/{{ category0 | first }}">{{ category0 | first }}</a></h3>
					
					<ul>
					{% for category1 in site.categories %}
						{% assign b = false %}
						{% for post in site.posts %}
							{% if post.categories[0] == category0.first and post.categories[1] == category1.first %}
								{% assign b = true %}
							{% endif %}
						{% endfor %}
						{% if b == true%}
							<li><a href="/{{ category0 | first }}/{{ category1 | first }}">{{ category1 | first }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</nav>
		</div>
	</div>
	<header id="main">
		<div id="logo">
			<a href="/"><table>
				<tr><td colspan="5"></td></tr>
				<tr>
					<td>빨</td><td>간</td><td>실</td><td>험</td><td>실</td>
				</tr>
				<tr><td colspan="5"></td></tr>
			</table></a>
		</div>
		
		<div id="description">
			<p>{{ site.description }}</p>
			<p>
				{{ site.email }}
				</br>
				<a href="http://redlaboratory.tistory.com/" target="_blank">http://redlaboratory.tistory.com/</a>
				</br>
				<a href="https://github.com/rlj1202">https://github.com/rlj1202</a>
			</p>
		</div>
	</header>
	<div id="wrapper">
		{{ content }}
	</div>
	<footer>
		Github.io - Copyright(C) 2017. Jisu Sim(RedLaboratory).
	</footer>
<body>
</html>