---
layout: default
---

{% if page.categories %}
	{% assign last_index = page.categories.size | minus: 1 %}
	{% assign category = page.categories[last_index] %}
	{% assign posts = site.categories[category] %}
{% else %}
	{% assign posts = paginator.posts %}
{% endif %}

{% for post in posts %}
	{% include article.html title=post.title categories=post.categories date=post.date content=post.content excerpt=post.excerpt tags=post.tags %}
{% endfor %}

{% if paginator %}
<div class="box">
	<center>
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}">Prev</a>
	{% else %}
		Prev
	{% endif %}
	
	{{ paginator.page }} / {{ paginator.total_pages }}
	
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path}}">Next</a>
	{% else %}
		Next
	{% endif %}
	</center>
</div>
{% endif %}