---
layout: default
---

{% if page.categories %}
	{% assign last_index = page.categories.size | minus: 1 %}
	{% assign category = page.categories[last_index] %}
	{% assign posts = site.categories[category] %}
{% else %}
	{% assign posts = site.posts %}
{% endif %}

{% assign limitation = 5 %}
{% for post in posts limit:limitation %}
	{% include article.html title=post.title categories=post.categories date=post.date content=post.content excerpt=post.excerpt %}
{% endfor %}

{% assign remains = posts.size | minus: limitation %}
{% if remains > 0 %}
<p>{{ remains }} more posts....</p>
{% endif %}