---
layout: default
---

{% include article.html title=page.title categories=page.categories date=page.date content=content tags=page.tags %}
{% if site.data.comments[page.slug] %}
	{% for comment_hash in site.data.comments[page.slug] %}
		{% assign comment = comment_hash[1] %}
		<div class="box comment">
			<div class="name">{% if comment.url %}<a href="{{ comment.url }}">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %}</div>
			<div class="date">{{ comment.date | date: "%Y-%m-%d %H:%M:%S" }}</div>
			<div class="message">{{ comment.message | markdownify }}</div>
		</div>
	{% endfor %}
{% else %}
	<div class="box">
		<center>No comments yet.</center>
	</div>
{% endif %}
<div class="box">
	<div id="leave_comment">
		<form method="POST" action="https://api.staticman.net/v2/entry/rlj1202/rlj1202.github.io/master/comments">
			<input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
			<input name="options[slug]" type="hidden" value="{{ page.slug }}">
			<label>Name<span class="red">*</span></label>
			<input name="fields[name]" type="text" required>
			<label>E-mail(optional)</label>
			<input name="fields[email]" type="email">
			<label>URL(optional)</label>
			<input name="fields[url]" type="url">
			<label>Message<span class="red">*</span></label>
			<textarea name="fields[message]" rows="10" placeholder="Leave a comment" required spellcheck="true"></textarea>
			
			<button type="submit">comment</button>
		</form>
	</div>
</div>
<div class="box">
	<div class="prev_next">
		{% if page.previous %}
		<div class="prev">
			<a href="{{ page.previous.url }}">prev</a>
		</div>
		{% endif %}
		{% if page.next %}
		<div class="next">
			<a href="{{ page.next.url }}">next</a>
		</div>
		{% endif %}
	</div>
</div>